html, body
{
    width: 1920px;
    height: 1080px;
    margin: 0px;

    overflow:hidden;


}
#signoutoption
{
    position: absolute;
    left: 1600px;
    top: 70px;
}

#backOption
{
    position: absolute;
    left: 100px;
    top: 70px;
}

#backHome
{
    position: absolute;
    left: 220px;
    top: 70px;
}