*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: sans-serif;
    user-select: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;


}

#toolbar
{
    width: 100%;
    height: 50px;
    padding: 10px;
    top: 0;
    position: fixed;
    background-color: #2f2f2f;
    color: white;
}

.radcontrol
{
    width: 30px;
    height: 30px;
    background-color: #4f4f4f;
    display: inline-block;
    text-align: center;
}


#colors
{
    float: right;
}

.swatch
{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    box-shadow: inset 0px 1px 0px rgba(255,255,255, 0.5), 0px 2px 2px rgba(0,0,0, 0.5);
    display: inline-block;
    margin-left: 10px;

}

.swatch.active{
    border: 2px solid white;
    box-shadow: inset 0px 1px 2px rgba(0,0,0, 0.5);
}





#save{
    margin-right: 10px;
    height: 30px;
    padding: 8px;
    background-color: #434343;
    float: right;
    color: white;
}

#save:hover{
    background-color: #818181;
}



#clean{
    margin-right: 10px;
    height: 30px;
    padding: 8px;
    background-color: #434343;
    float: right;
    color: white;
}

#clean:hover{
    background-color: #818181;
}

#Lapiz{
    margin-right: 10px;
    height: 30px;
    padding: 8px;
    background-color: #434343;
    float: right;
    color: white;
}

#Lapiz:hover{
    background-color: #818181;
}

#Lapiz.active{
    background-color: blue;
}

